* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.chat-view {
  display: flex;
  padding: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  vertical-align: top;
  padding: 20px;
  width: 20%;
  line-height: 25px;
}

.chat {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 80%;
}